# DS_STORE
.DS_Store

# SECRET KEYS
keys.py

# INIT PY
__init__.py

# PYCACHE
__pycache__/
*.py[cod]
*$py.class

# VENV
venv/

# .VSCODE
.vscode/

# .env
.env

# debugging artifacts
backend/utils/logger_artifacts/